.Rfragment{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.textbot{
    font-size: 10px;
    display: flex;
    font-weight: bold;
    .completed,.pending,.cancel{
        padding-left: 30px;
    }
}